[submodule "scrapy"]
	path = xerrades/2017/20170712/01_scrapy
	url = https://github.com/jbagot/Xerrada-Scrapy.git
[submodule "pandas_intro"]
	path = xerrades/2017/20170712/02_pandas
	url = https://github.com/victormartingarcia/2017-pyGrn-intropandas.git
[submodule "xerrades/20170913/no_tot_es_programar"]
	path = xerrades/2017/20170913/no_tot_es_programar
	url = https://github.com/ecarreras/xerrada-pygrn-no-tot-es-programar.git
[submodule "intro_data_science"]
	path = xerrades/2017/20171018/intro_data_science
	url = https://github.com/victormartingarcia/2017-pyGrn-introdatascience.git
[submodule "xerrades/2018/20180117/elastic_search"]
	path = xerrades/2018/20180117/elastic_search
	url = git@github.com:pygrn/elastic_search.git
[submodule "xerrades/2017/20171115/django"]
	path = xerrades/2017/20171115/django
	url = git@github.com:pygrn/todos_django.git
[submodule "xerrades/2017/20171115/react"]
	path = xerrades/2017/20171115/react
	url = git@github.com:pygrn/todos_react
[submodule "xerrades/2018/20180221/scms"]
	path = xerrades/2018/20180221/scms
	url = git@github.com:pygrn/scms.git
[submodule "xerrades/2018/20181018/docker101"]
	path = xerrades/2018/20181018/docker101
	url = git@github.com:pygrn/docker101.git
[submodule "xerrades/2019/20190207/scipy"]
	path = xerrades/2019/20190207/scipy
	url = https://github.com/efarres/pygrn-scipy.git
[submodule "xerrades/2019/20190307/taller-docker"]
	path = xerrades/2019/20190307/taller-docker
	url = git@github.com:pygrn/docker101.git
[submodule "xerrades/2019/20190411/graphql"]
	path = xerrades/2019/20190411/graphql
	url = https://github.com/d-asensio/graphql-talk.git
[submodule "xerrades/2019/20190926/kubernetes101"]
	path = xerrades/2019/20190926/kubernetes101
	url = git@github.com:pygrn/kubernetes101.git
[submodule "xerrades/2019/20191114/pytest"]
	path = xerrades/2019/20191114/pytest
	url = git@github.com:pygrn/pytest.git
[submodule "xerrades/2020/20200206/k8s-workshop"]
	path = xerrades/2020/20200206/k8s-workshop
	url = git@github.com:pygrn/k8s-workshop.git
[submodule "xerrades/2020/20200206/k8s_ws_django"]
	path = xerrades/2020/20200206/k8s_ws_django
	url = https://github.com/pygrn/k8s_ws_django
